.grid {
    border: solid 2px #EF9A9A; /* Red */
    padding: 0.5rem;
}

.grid--height {
    height: 200px;
}

.grid__row {
    display: flex;
    flex-direction: row;
    border: solid 2px #A5D6A7; /* Green */
    padding: 0.5rem;
}

.grid__row--start {
    justify-content: flex-start;
}

.grid__row--end {
    justify-content: flex-end;
}

.grid__row--center {
    justify-content: center;
}

.grid__row--space-around {
    justify-content: space-around;
}

.grid__row--space-between {
    justify-content: space-between;
}

.grid__row--vertical-center {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.grid__row--end {
    flex-direction: flex-start;
}

.grid__column {
    display: flex;
    flex-direction: column;
}

.grid__item {
    width: 100px;
    height: 100px;
    border: solid 2px #B39DDB; /* Purple */
    padding: 0.5rem;
}
