.grid {
    border: solid 2px #EF9A9A; /* Red */
    padding: 0.5rem;
}

.grid__row {
    display: flex;
    flex-direction: row;
    border: solid 2px #A5D6A7; /* Green */
    padding: 0.5rem;
}

.grid__row--set-width {
    width: 500px;
    max-width: 100%;
}

.grid__grow-item {
    flex: 1;
    border: solid 2px #B39DDB; /* Purple */
    padding: 0.5rem;
}

.grid__grow-item--large {
    flex-grow: 2;
}

.grid__shrink-item {
    flex: 1 1 300px;
    min-width: 0;
    border: solid 2px #B39DDB; /* Purple */
    padding: 0.5rem;
}

.grid__shrink-item--small {
    flex-shrink: 2;
    font-size: 8px;
}
