body {
    margin: 12px;
}

div {
    box-sizing: border-box;
}

.gist .blob-num {
    line-height: 30px !important;
}

.gist .blob-code-inner  {
    font-size: 25px !important;
    line-height: 25px !important;
}
