.grid {
    border: solid 2px #EF9A9A; /* Red */
    padding: 0.5rem;
}

.grid__row {
    display: flex;
    flex-direction: row;
    border: solid 2px #A5D6A7; /* Green */
    padding: 0.5rem;
}

.grid__column {
    display: flex;
    flex-direction: column;
    border: solid 2px #A5D6A7; /* Green */
    padding: 0.5rem;
}

.grid__responsive {
    display: flex;
    flex-direction: column;
    border: solid 2px #A5D6A7; /* Green */
    padding: 0.5rem;
}

@media all and (min-width: 720px) {
    .grid__responsive {
        flex-direction: row;
    }
}

.grid__item {
    flex: 1;
    border: solid 2px #B39DDB; /* Purple */
    padding: 0.5rem;
}
