html, body {
    height: 100%;
    margin: 0;
}

main {
    display: block;
    height: 100%;
    background-image: url("../images/under_construction.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
