section {
    min-height: initial;
}

.nav-button {
    display: none;
}

body.presentation section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.presentation .nav-button {
    display: block;
}

body.presentation h2 {
    font-size: 2.5rem;
}

.wrapper {
    margin-bottom: 1rem;
}

img {
    margin-bottom: 1rem;
}

.wrapper--container {
    display: grid;
}

.wrapper--tracks {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.wrapper--fr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper--fr-mixed {
    display: grid;
    grid-template-columns: 500px 1fr 2fr;
}

.wrapper--implicit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
}

.wrapper--minmax {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.wrapper--lines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.wrapper--lines > .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.wrapper--lines > .box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.wrapper--gutter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.wrapper--nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper--nested > .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper--nested > .box > .nested {
    border: 2px solid #ffec99;
    border-radius: 5px;
    background-color: #fff9db;
    padding: 1em;
}

.wrapper--z {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.wrapper--z > .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
}

.wrapper--z > .box2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.wrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}

.gist-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    grid-gap: 1rem;
    margin: 1rem;
}

.gist-container > .gist > .gist-file {
    height: 100%;
}

.gist-container > .gist > .gist-file > .gist-data {
    height: calc(100% - 2.3em);
}

.presentation-mode-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
}

.presentation-mode-toggle * {
    visibility: hidden;
}

.presentation-mode-toggle:hover * {
    visibility: visible;
}

section img {
    width: 60%;
    align-self: center;
}
